<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- head section -->
    <link rel="stylesheet" href="/static/home/css/form1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/home/css/form1.css">
</head>
<body>
    <div class="row">
        <!-- left panel (static) -->
        <div class="col-md-3">
            <figure>
                <a href="#" class="logo"><img src="https://imagetolink.com/ib/u7YRfckarR.png" alt=""></a>
            </figure>
            <ul style="margin-top: 5%; padding-left: 5%;">
                <li><a class="operation" href="/profile/"><img
                            src="/static/images/profile.png" alt=""
                            style="height: 10%;width: 10%;">&nbsp;Profile</a></li>
                <li><a class="operation" href="/renteq/"><img src="/static/images/renteq.png" alt=""
                            style="height: 10%;width: 10%;">&nbsp;Rent Equipments</a></li>
                <li><a class="operation" href="/shareeq/"><img src="/static/images/shareeq.png" alt=""
                            style="height: 10%;width: 10%;">&nbsp;Share Equipments</a></li>
                <li><a class="operation" href="/myeq/"><img
                            src="/static/images/myeq.png" alt=""
                            style="height: 10%;width: 10%;">&nbsp;My Equipments</a></li>
                <li><a class="operation" href="/chat/"><img
                            src="/static/images/chat.png"
                            alt="" style="height: 10%;width: 10%;">&nbsp;Chat</a></li>
                <li><a class="operation" href="/editprofile/"><img
                            src="/static/images/edit_p.png"
                            alt="" style="height: 10%;width: 10%;">&nbsp;Edit Profile</a></li>
                <li><a class="operation" href="/settings/"><img
                            src="/static/images/settings.png"
                            alt="" style="height: 10%;width: 10%;">&nbsp;Settings</a></li>
                <li style="padding-right: 45px;"><a class="operation" href="/signout/"><img
                            src="/static/images/logout.jpg"
                            alt="" style="height: 12%;width: 12%;">&nbsp;Log Out</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
