<!-- myeq.html -->
{% extends 'home/leftpanel.html' %}

{% block content %}
    <form class="form" action="" id="form" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="equ" class="form-label">Equipment</label>
                <select name="equ" id="equ" class="form-control" required>
                    <option value="" selected>Equipments</option>
                    <option value="shared Equipments">Shared Equipments</option>
                    <option value="rented Equipments">Rented Equipments</option>
                </select>
            </div>
            <div class="col-md-4" style="margin-left: 0%;">
                <button type="submit" class="btn btn-primary" id="add" style="margin-top: 10%;">Search</button>
            </div>
        </div>
    </form>

    {% for i in eq %}
    <div class="row" id="detail">
        <div class="col-md-4" id="imgbox">
            <img style="object-fit: contain;" id="img" src="{{i.image.url}}" alt="">
        </div>
        <div class="col-md-5">
            <p>
                Equipment Name : {{i.name}}
            </p>
            <p>
                Company : {{i.company}}
            </p>
            <p>
                Modal : {{i.model}}
            </p>
            <p>
                Location : {{i.village}}, {{i.pincode}}
            </p>
            <p>
                Price/day : {{i.price}}
            </p>

            <form action="" id="form" method="post" target="_blank">
                {% csrf_token %}
                <input hidden  type="text" name="uid" id="uid" value="{{i.uid}}">
                <button type="submit" class="btn btn-primary" style="margin-left: 30%;">Details</button>
            </form>
        </div>
    </div>
    <br>
    {% endfor %}

    <script>
        const selectElement = document.getElementById('equ');
        const previouslySelectedValue = "{{which}}";
        if (previouslySelectedValue) {
            selectElement.value = previouslySelectedValue;
        }
    </script>
{% endblock %}
