
{% extends 'home/leftpanel.html' %}

{% block content %}
    <div class="row" id="imgbox">
        <img id="img" src="{{ eq.image.url }}" alt="">
    </div>
    <div class="row">
        <p>Equipment Name: {{ eq.name }}</p>
        <p>Company: {{ eq.company }}</p>
        <p>Model: {{ eq.model }}</p>
        <p>Address: {{ eq.address }}</p>
        <p>Village/City: {{ eq.village }}, {{ eq.city }}, {{ eq.state }}, {{ eq.country }}</p>
        <p>Price/day: {{ eq.price }}</p>
        <p>Farmer Name: {{ eq.farmer.fname }}</p>
        <p>Contact Number: {{ eq.mobile }}</p>
        <p style="align-content: flex-start; display: flex; width: 100vh;">Equipment Description: {{ eq.description }}</p>
    </div>
{% endblock %}
