<!-- setting.html -->
{% extends 'home/leftpanel.html' %}

{% block content %}
<div class="card d">
    <div class="card-body">
        <div class="row" id="sett">
            <div id="resetpass">
                <button id="btn" type="button" class="form-control" onclick="rs()">Reset Password</button>
                <div id="reset">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input id="cpass" name="cpass" type="password" class="form-control"
                            placeholder="Enter Current password" required>
                        <input id="pass1" name="pass1" type="password" class="form-control"
                            placeholder="Enter New password" required>
                        <input id="pass2" name="pass2" type="password" class="form-control"
                            placeholder="Enter Retype password" required>
                        <button style="margin-right: 5%; margin-top: 2%;" type="submit"
                            class="btn btn-success color">Reset</button>
                    </form>
                </div>
            </div>
            <br>
            <div id="delaccount">
                <button id="btn" type="button" class="form-control" onclick="del()">Delete Account</button>
                <form action="" method="post">
                    {% csrf_token %}
                    <div id="delete">
                        <input id="pass" name="pass" type="password" class="form-control" placeholder="Enter Password"
                            required>
                        <button style="margin-right: 5%; margin-top: 2%;" type="submit"
                            class="btn btn-danger color">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/static/home/js/setting.js"></script>
{% endblock %}