<!-- shareeq.html -->
{% extends 'home/leftpanel.html' %}

{% block content %}
<form class="form" action="" id="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="num" class="form-label">Mobile Number</label>
        <input type="number" class="form-control" name="num" id="num" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="equ" class="form-label">Equipment</label>
        <select name="equ" id="equ" class="form-control" required>
            <option value="" selected>Select Equipments</option>
            <option value="tractor">tractor</option>
            <option value="harvestor">harvestor</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="model" class="form-label">Model Number</label>
        <input type="text" name="model" class="form-control" id="model" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="company" class="form-label">Company</label>
        <input type="text" name="company" class="form-control" id="company">
    </div>
    <div class="mb-3">
        <label for="company" class="form-label">Number Of Available Equipment</label>
        <input type="number" class="form-control" name="n_eq" id="n_eq">
    </div>
    <div class="mb-3">
        <label for="company" class="form-label">Rent/day</label>
        <input type="number" class="form-control" name="price" id="price">
    </div>
    <div class="mb-3">
        <label for="pincode" class="form-label">Pincode</label>
        <input type="number" class="form-control" name="pincode" id="pincode" required>
    </div>
    <div id="addressFields" style="display: none;">
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" name="city" id="city">
        </div>
        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" name="state" id="state">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="country" id="country">
        </div>
        <div class="mb-3">
            <div id="villagesContainer" style="display: none;">
                <label for="company" class="form-label">Village</label>
                <select name="village" id="villages" disabled required class="form-control">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="discription" class="form-label">Address</label>
        <textarea class="form-control" name="address" id="address" cols="30" rows="2"></textarea>
    </div>
    <div class="mb-3">
        <label for="discription" class="form-label">Description</label>
        <textarea class="form-control" name="discription" id="discription" cols="30" rows="5"></textarea>
    </div>
    <div class="mb-3">
        <label for="company" class="form-label">Upload Image</label>
        <input type="file" class="form-control" accept="image/*" id="image" name="image">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">Equipment must be in working condition</label>
    </div>
    <button type="submit" onclick="pop()" class="btn btn-primary" id="add">Apply</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/home/js/verifydata.js"></script>
<script src="/static/home/js/fetchpincode.js"></script>
{% endblock %}