<!-- profile.html -->
{% extends 'home/leftpanel.html' %}
{% block content %}
    <div class="card" style="width: 20rem;">
        <img src="{{ farmer.p_image.url }}" style="object-fit: contain;"
            class="card-img-top" alt="user">
        <ul class="list-group list-group-flush" style="margin-top: 0%;">
            <li class="card-title list-group-item"
                style="margin-top: 0%; padding-top: 0%;font-size: 250%; font-weight: bold">{{ farmer.fname }}</li>
            <li class="list-group-item" style="margin-top: 0%; padding-top: 0%;">Email: {{ farmer.email }}</li>
            <li class="list-group-item" style="margin-top: 0%; padding-top: 0%;">Date of Birth: {{ farmer.dob }}</li>
            <li class="list-group-item" style="margin-top: 0%; padding-top: 0%;">Village: {{ farmer.village }}</li>
            <li class="list-group-item" style="margin-top: 0%; padding-top: 0%;">Mobile: {{ farmer.mobile }}</li>
        </ul>
    </div>
{% endblock %}
