<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/form1.css">
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="/static/authentication/images/logo.png" id="icon" alt="User Icon" />
      </div>
      <form action="" id="form" method="post">
        {%csrf_token%}
        <input readonly type="email" value="{{email}}" id="email" class="design fadeIn second" name="email" placeholder="Email"><br>
        <input type="number" id="otp" ap class="design fadeIn second" name="otp" placeholder="Enter 6 digit OTP">
        <input type="number" id="pass1" ap class="design fadeIn second" name="pass1" placeholder="Enter new password">
        <input type="number" id="pass2" ap class="design fadeIn second" name="pass2" placeholder="Enter password again">
        <p style="color: red;">{{message}}</p>
        <input type="submit" class="fadeIn third" value="Log In">
      </form>
    </div>
  </div>
  <script>
    document.getElementById('otp').addEventListener('input', function () {
      let value = this.value;
      if (value.length > 6) {
        value = value.slice(0, 6); // Truncate to 6 digits
      }
      this.value = value;
    });
  </script>
</body>

</html>

