{% extends "authentication/base.html" %}
{% block content %}
<input type="text" id="fname" class="design fadeIn second" name="fname" placeholder="Full Name" required>
<input type="email" id="email" class="design fadeIn second" name="email" placeholder="Email" required><br>
<input type="number" id="mobile" class="design fadeIn third" name="mobile" placeholder="Mobile Number" required><br>
<input type="password" id="pass1" class="design fadeIn third" name="pass1" placeholder="Passowrd" required><br>
<input type="password" id="pass2" class="design fadeIn third" name="pass2" placeholder="Retype Passowrd">
<p style="color: red;">{{message}}</p>
<input type="submit" class="fadeIn fourth" value="Sign up">
</form>
<div id="formFooter">
  <p>already have account? <a class="underlineHover" href="/signin" style="text-decoration: none;">sign
      in</a></p>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#dob').datepicker({
      showOn: "button",
      buttonImage: "calendar.png",
      buttonImageOnly: true,
      buttonText: "Select date",
      beforeShow: function (input, inst) {
        setTimeout(function () {
          inst.dpDiv.css({
            'left': 'auto',
            'right': '0'
          });
        }, 0);
      }
    });
  });
  var dobInput = document.getElementById("dob");
  dobInput.addEventListener("change", function () {
    if (dobInput.value) {
      dobInput.style.color = "black";
    } else {
      dobInput.style.color = "#757575";
    }
  });
</script>
{% endblock %}