{% extends "authentication/base.html" %}
{% block content %}
<input type="email" id="email" class="design fadeIn second" name="email" placeholder="email" required>
<input type="password" id="password" class="design fadeIn third" name="password" placeholder="password" required>
<p style="color: red;">{{message}}</p>
<input type="submit" class="fadeIn fourth" value="Sign in">
</form>
<div id="formFooter">
  <a class="underlineHover" href="/forgotpass" style="text-decoration: none;">Forgot Password?</a>
  <br>
  <p>don't have account? <a class="underlineHover" href="/signup" style="text-decoration: none;">sign up</a></p>
</div>
{% endblock %}