#info ul {
    padding-left: 20%;
    padding-top: 50%;
    font-size: 1.5em;
    color: white;
}


ul :hover {
    color: green;
}

#info {
    background-color: rgb(255, 255, 255);
    height: 100vh;

}


a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.operation{
    text-decoration: none;
    color: black;
}
.operation:hover{
    color: green;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    padding-top: 10%;
}
#add {
    margin-left: 45%;
    margin-bottom: 3%;
}

.form-control {
    width: 95%;
}

.form {
    background-color: aliceblue;
    padding-left: 10%;
    padding-top: 5%; 
}
.logo {
    padding-left: 18%;
}
body{
    overflow-x: hidden;
}
.col-md-9 {
    background-color: aliceblue;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}
.col-md-3 {
    position: sticky;
    top: 0;
    height: 100vh;
    
    width: 25%;
    z-index: 1;
  }
  

.card {
    text-align: center;
    margin-left: 45vh;
    margin-top: 7vh;
}

p {
    margin-left: 10%;
    margin-top: 7%;
    align-content: flex-start;
    display: flex;
    width: 100vh;
}

#imgbox {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1%;
}

#img {
    height: 300px;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

li {
    margin: 6%;
}

#detail {
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 5%;
}

#sett{
    margin-top: 20%;
    text-align: center;
    margin-left: 5%;
}
#delaccount{
    margin-top: 10%;
    margin-bottom: 10%;
}
#new_pass{
    text-align: center;
    margin-top: 3%;
}
#btn{
    height: 80px;
}

#resetpass button:hover{
    background-color: rgb(169, 255, 169);
}
#delaccount button:hover{
    background-color: rgb(255, 152, 152);
}

.color:hover{
    color: black;
}
.d{
    margin-right: 50%;
    width: 700px;
    translate: -25% 10%;
}